# Dependências
node_modules/
*/node_modules/

# Builds e temporários
.next/
*/.next/
*.tar.gz
*.tmp

# Variáveis de ambiente
*.env*
!*.env.example
*.env
backend/.env
dashboard/.env.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db
